<div class="header">
	<div class="header_content">
		<a href="http://localhost:4001/log?">
			<img src="#" alt="logo" />
		</a>
		<h1>LOG APP</h1>
		<span class="header_end"></span>
	</div>
</div>
